@model IEnumerable<Forum.Answer>

@{
    ViewBag.Title = "IndexT";
    Layout = null;
}

@*<h2>IndexT</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiscusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiscusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@

   @* <div class="panel panel-default">
  <div class="panel-body">
      <h3>@Html.DisplayNameFor(model => model.Discus.Text)  </h3>
      @foreach (var item1 in Model)
      {
         <h5>@item1.Text </h5>
          <h6>@item1.Author</h6> 
      }
      
   
  </div>
  <div class="panel-footer"></div>
</div>
    *@
    
@foreach (var item in Model)
{
    <div class="panel panel-default">
  <div class="panel-body">
        @item.Text
  </div>
</div>    
   
}